<div [class]="`border m-2 ${class}`" style="background:var(--card); border-color:var(--border); color:var(--card-foreground)">
  <div class="m-4 flex items-center gap-3">
      @if(title){
      <span class="font-bold text-lg text-start flex items-center gap-2">
        <ng-content select="[slot=icon]"></ng-content>
        {{title}}
      </span>
      @if(loading){
        <app-spinner></app-spinner>
      }
      <div class="flex-1 border-t" style="border-top-color:var(--color-border)"></div>
    }
  </div>

  <p class="text-start mx-5 my-4 text-sm" style="color:var(--color-card-foreground)">
    {{description}}
  </p>

  <div>
    <ng-content select="[slot=content]"></ng-content>
  </div>
</div>
