<section class="p-2 relative" aria-labelledby="marquee-heading">
  <span class="text-xs absolute left-5 -top-0.5 font-bold px-2">{{title()}}</span>
  <div class="bg-gray-50 dark:bg-gray-900 rounded w-60 overflow-hidden border border-gray-200 dark:border-gray-800">
    <div class="marquee py-2">
      <div class="marquee__inner">
        <div class="marquee__group">
          <ng-container *ngTemplateOutlet="contentTpl || defaultTemplate"></ng-container>
        </div>

        <div class="marquee__group" aria-hidden="true">
          <ng-container *ngTemplateOutlet="contentTpl || defaultTemplate"></ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

  <ng-template #defaultTemplate>
    <span class="text-sm font-medium px-4">This is a placeholder marquee.</span>
    <span class="text-sm font-medium px-4">This is a placeholder marquee.</span>
    <span class="text-sm font-medium px-4">This is a placeholder marquee.</span>
  </ng-template>
