#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

/* Custom scrollbar for Tailwind */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-700 */
  border-radius: 9999px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #4b5563;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}